@using SonPrac.ViewModel.Autho
@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<!doctype html>
<html lang="en">
    
<!-- Mirrored from bhulua.thememinister.com/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:14:22 GMT -->
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
        <meta name="author" content="Bdtask">
        <title>Bhulua - Bootstrap 4 Admin Template Deshboard</title>
        <!-- App favicon -->
        <link rel="shortcut icon" href="~/admin/dist/img/favicon.png">
        <!--Global Styles(used by all pages)-->
        <link href="~/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/admin/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
        <link href="~/admin/plugins/fontawesome/css/all.min.css" rel="stylesheet">
        <link href="~/admin/plugins/typicons/src/typicons.min.css" rel="stylesheet">
        <link href="~/admin/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
        <!--Third party Styles(used by this page)--> 

        <!--Start Your Custom Style Now-->
        <link href="~/admin/dist/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-white">
        <div class="d-flex align-items-center justify-content-center text-center h-100vh">
            <div class="form-wrapper m-auto">
                <div class="form-container my-4">
                    <div class="register-logo text-center mb-4">
                        <img src="~/admin/dist/img/logo2.html" alt="">
                    </div>
                    <div class="panel">
                        <div class="panel-header text-center mb-3">
                            <h3 class="fs-24">Sign up for your account!</h3>
                            <p class="text-muted text-center mb-0">Start your 15-day trial, no credit card required</p>
                        </div>
                        <a class="btn btn-linkedin btn-block bg-white text-left font-weight-normal position-relative mb-3"  href="#">
                            <span>Sign up with LinkedIn</span>
                        </a>
                        <a class="btn  btn-google btn-block bg-white text-left font-weight-normal position-relative mb-3" href="#">
                            <span>Sign up with Google</span>
                        </a>
                        <p class="text-muted text-center">We won't post anything without your permission and your personal details are kept private</p>
                        <div class="divider font-weight-bold text-uppercase text-dark d-table text-center my-3">Or</div>
                        <form class="register-form" method="post">
                            <div class="form-group">
                                <input type="text" asp-for="FirsName" class="form-control" id="f_name" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="LastName" class="form-control" id="l_name" placeholder="Last name">
                            </div>
                             <div class="form-group">
                                <input type="text" asp-for="Username" class="form-control" id="l_name" placeholder="Username name">
                            </div>
                            <div class="form-group">
                                <input type="email" asp-for="Email" class="form-control is-invalid" id="emial" placeholder="Enter email">
                                <div class="invalid-feedback text-left">Enter your valid email</div>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Password" class="form-control" id="pass" placeholder="Password">
                            </div>
                               <div class="form-group">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" id="pass" placeholder="ConfirmPassword">
                            </div>
                            <div class="mb-3" asp-validation-summary="ModelOnly"></div>
                            <button type="submit" class="btn btn-success btn-block">Sign up</button>
                            <a class="btn btn-primary-soft mt-1" asp-controller="Auth" asp-action="Login">Login</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.End of form wrapper -->
        <!--Global script(used by all pages)-->
        <script src="~/admin/plugins/jQuery/jquery-3.4.1.min.js"></script>
        <script src="~/admin/dist/js/popper.min.js"></script>
        <script src="~/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/admin/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="~/admin/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <!-- Third Party Scripts(used by this page)-->

        <!--Page Active Scripts(used by this page)-->

        <!--Page Scripts(used by all page)-->
        <script src="~/admin/dist/js/sidebar.js"></script>
    </body>

<!-- Mirrored from bhulua.thememinister.com/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:14:22 GMT -->
</html>

